<li id="<%= worker.id %>">
	<div class="elementHead"><%= worker.role.name + " - " + worker.firstname + " " + worker.lastname %></div>
	<div style="margin: 15px;">
		<a href="/worker/show/<%= worker.id %>" class="btn btn-info" type="button">
			Voir
		</a>
		<a href="/worker/edit/<%= worker.id %>" class="btn btn-warning" type="button">
			Editer
		</a>
	</div>
</li>