*{
	transition: width .3s linear;
	-webkit-transition: width .3s linear;
	-moz-transition: width .3s linear;
	-o-transition: width .3s linear;
}

body{
	background: #eee;
}
body, html, .wrapper{
	height: 100%;
}
.navbar{
	border-radius: 0;
	margin: 0;
}
.navbar.navbar-inverse h3{
	color: #ddd;
	margin-top: 12px;
}
.pannel{
	padding: 12px 0 0 0; 
	background: #fff;
	height: 100%;
	width: 100px;
	overflow-x: hidden;
	overflow-y: scroll;
	border-right: solid 1px #aaa;
	box-shadow: 0 0 10px #aaa;
	float: left;
}
#workLocation:after{
	content:'';
    display:block;
    clear: both;
}
.pannel.active{
	width: 50%;
}
.table-responsive{
	min-width: 500px;
}


thead th[data-db-row-order]:hover{
	cursor: pointer;
}
input,
address,
td[data-db-row-name]{
	text-transform: capitalize;
}

.input-group{
	margin-bottom: 5px;
}

.input-group-addon.bg-primary{
	color: #fff;
	background-color: #428bca;
}

textarea { 
	resize:vertical;
}

.date a.btn {
	padding: 0;
}
.date a.btn .add-on{
	width: 41px;
	height: 32px;
}
.date a.btn .add-on i.fa{
	padding: 10px 14px;
}


body .container{
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.row-offcanvas-left{
	height: 100%;
}
.sidebar-offcanvas{
	overflow: hidden;
	height: 100%;
	background-color: #444;
	box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2) inset;
	padding: 0;
}

.sidebar-offcanvas:not(.open){
	width: 54px;
}
.sidebar-offcanvas .nav{
	width: 300px;
}
.sidebar-offcanvas .nav>li>a{
	padding: 10px 10px;
}
.sidebar-offcanvas .nav>li>a:hover{
	background-color: #ccc;
}
.sidebar-offcanvas .nav>li>a.active{
	background-color: #fff;	
}

.sidebar-offcanvas .nav>li{
	border-bottom: solid 1px #4a4a4a;
}
#map-canvas{
	height:250px;
}
#map-pannel{
	height:250px;	
	overflow: auto;
}

.fullscreen{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100000;
	background: #fff;
}